Must solve problems for beginners.md
1903. Largest Odd Number in String/1.png
1903. Largest Odd Number in String/notes.md
606. Construct String from Binary Tree/notes1.md
606. Construct String from Binary Tree/notes2.md
606. Construct String from Binary Tree/notes3.md
606. Construct String from Binary Tree/notes4.md
606. Construct String from Binary Tree/566d4194-254d-4d12-b694-e1a88c0753d4_1702001948.9760542.png
606. Construct String from Binary Tree/cons1-tree.jpg
606. Construct String from Binary Tree/cons2-tree.jpg
94. Binary Tree Inorder Traversal/1.png
94. Binary Tree Inorder Traversal/2.png
94. Binary Tree Inorder Traversal/3.png
94. Binary Tree Inorder Traversal/4.png
94. Binary Tree Inorder Traversal/5.png
94. Binary Tree Inorder Traversal/6.png
94. Binary Tree Inorder Traversal/7.png
94. Binary Tree Inorder Traversal/8.png
94. Binary Tree Inorder Traversal/9.png
94. Binary Tree Inorder Traversal/10.png
94. Binary Tree Inorder Traversal/11.png
94. Binary Tree Inorder Traversal/12.png
94. Binary Tree Inorder Traversal/13.png
94. Binary Tree Inorder Traversal/14.png
94. Binary Tree Inorder Traversal/notes.md
1716. Calculate Money in Leetcode Bank/notes.md
1716. Calculate Money in Leetcode Bank/Снимок экрана 2023-12-10 в 3.22.37.png
1716. Calculate Money in Leetcode Bank/Снимок экрана 2023-12-10 в 3.17.06.png
867. Transpose Matrix/notes.md
867. Transpose Matrix/hint_transpose.png
1287. Element Appearing More Than 25% In Sorted Array/notes.md
1287. Element Appearing More Than 25% In Sorted Array/notes1.md
1287. Element Appearing More Than 25% In Sorted Array/1.png
1287. Element Appearing More Than 25% In Sorted Array/2.png
1287. Element Appearing More Than 25% In Sorted Array/3.png
1464. Maximum Product of Two Elements in an Array/notes.md
1582. Special Positions in a Binary Matrix/special1.jpg
1582. Special Positions in a Binary Matrix/special-grid.jpg
1582. Special Positions in a Binary Matrix/notes.md
1582. Special Positions in a Binary Matrix/1.png
1582. Special Positions in a Binary Matrix/2.png
2482. Difference Between Ones and Zeros in Row and Column/notes.md
2482. Difference Between Ones and Zeros in Row and Column/2482A.png
2482. Difference Between Ones and Zeros in Row and Column/image-20221106171729-5.png
2482. Difference Between Ones and Zeros in Row and Column/image-20221106171747-6.png
1436. Destination City/notes.md
27. Remove Element/notes1.md
242. Valid Anagram/notes1.md
2353. Design a Food Rating System/notes.md
2353. Design a Food Rating System/notes1.md
2353. Design a Food Rating System/notes2.md
2353. Design a Food Rating System/notes3.md
2353. Design a Food Rating System/notes4.md
2353. Design a Food Rating System/Slide1a.jpg
2353. Design a Food Rating System/Slide1b.jpg
2353. Design a Food Rating System/Slide2.jpg
2353. Design a Food Rating System/Slide3.jpg
2353. Design a Food Rating System/Slide4.jpg
2353. Design a Food Rating System/Slide5.jpg
2353. Design a Food Rating System/solve.js
2353. Design a Food Rating System/solve1.js
2353. Design a Food Rating System/solve2.js
2353. Design a Food Rating System/solve3.js
2353. Design a Food Rating System/solve4.js
2353. Design a Food Rating System/test.js
2353. Design a Food Rating System/toChatGPT.txt
1913. Maximum Product Difference Between Two Pairs/notes.md
66. Plus One/help.js
661. Image Smoother/editorial
661. Image Smoother/compare1.png
661. Image Smoother/compare2.png
661. Image Smoother/gray_image.png
661. Image Smoother/matrix_gray_image.png
661. Image Smoother/matrix_smooth_image1.png
661. Image Smoother/notes.md
661. Image Smoother/Slide1.PNG
661. Image Smoother/Slide2_1.PNG
661. Image Smoother/Slide2_2.PNG
661. Image Smoother/Slide3.PNG
661. Image Smoother/Slide4.PNG
661. Image Smoother/Slide5_1.PNG
661. Image Smoother/Slide5_2.PNG
661. Image Smoother/Slide6.PNG
661. Image Smoother/Slide7.PNG
661. Image Smoother/Slide8.PNG
661. Image Smoother/Slide9.PNG
661. Image Smoother/Slide10.PNG
661. Image Smoother/Slide11.PNG
661. Image Smoother/Slide12.PNG
661. Image Smoother/Slide13.PNG
661. Image Smoother/Slide14.PNG
661. Image Smoother/smooth-grid.jpg
661. Image Smoother/smooth2-grid.jpg
661. Image Smoother/smoother-grid.jpg
2706. Buy Two Chocolates/Slide1_1.PNG
2706. Buy Two Chocolates/Slide1_2.PNG
2706. Buy Two Chocolates/Slide2_1.PNG
2706. Buy Two Chocolates/Slide2_2.PNG
2706. Buy Two Chocolates/Slide2_3.PNG
2706. Buy Two Chocolates/Slide3.PNG
2706. Buy Two Chocolates/Slide4_1.PNG
2706. Buy Two Chocolates/Slide5_1.PNG
2706. Buy Two Chocolates/Slide5_2.PNG
2706. Buy Two Chocolates/Slide6.PNG
2706. Buy Two Chocolates/notes.md
1637. Widest Vertical Area Between Two Points Containing No Points/1637A.png
1637. Widest Vertical Area Between Two Points Containing No Points/editorial.md
1637. Widest Vertical Area Between Two Points Containing No Points/points3.png
1422. Maximum Score After Splitting a String/editorial.md
1422. Maximum Score After Splitting a String/1.png
1496. Path Crossing/editorial.md
1496. Path Crossing/screen-shot-2020-06-10-at-123843-pm.png
1496. Path Crossing/screen-shot-2020-06-10-at-123929-pm.png
1758. Minimum Changes To Make Alternating Binary String/editorial.md
1758. Minimum Changes To Make Alternating Binary String/1.png
1758. Minimum Changes To Make Alternating Binary String/2.png
1758. Minimum Changes To Make Alternating Binary String/3.png
91. Decode Ways/solutionFromGPT.md
1578. Minimum Time to Make Rope Colorful/ballon1.jpg
1578. Minimum Time to Make Rope Colorful/balloon2.jpg
1578. Minimum Time to Make Rope Colorful/balloon3.jpg
1897. Redistribute Characters to Make All Strings Equal/editorial.md
1624. Largest Substring Between Two Equal Characters/editorial.md
1624. Largest Substring Between Two Equal Characters/1.png
1624. Largest Substring Between Two Equal Characters/2.png
455. Assign Cookies/editorial.md
2610. Convert an Array Into a 2D Array With Conditions/editorial.md
2610. Convert an Array Into a 2D Array With Conditions/1.png
2610. Convert an Array Into a 2D Array With Conditions/2.png
2610. Convert an Array Into a 2D Array With Conditions/3.png
2610. Convert an Array Into a 2D Array With Conditions/4.png
2610. Convert an Array Into a 2D Array With Conditions/5.png
2610. Convert an Array Into a 2D Array With Conditions/6.png
2610. Convert an Array Into a 2D Array With Conditions/7.png
2610. Convert an Array Into a 2D Array With Conditions/script.js
2610. Convert an Array Into a 2D Array With Conditions/slider.html
2610. Convert an Array Into a 2D Array With Conditions/style.css


1531. String Compression II
1155. Number of Dice Rolls With Target Sum
1. Two Sum
.vscode